[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.2.5"
django-postgres-extra = ">=2.0.8"
psycopg2-binary = ">=2.9.7"
djangorestframework = ">=3.14.0"
djangorestframework-simplejwt = ">=5.3.0"
pillow = ">=10.0.0"
django-imagekit = "4.1.0"
django-storages = "*"
httpx = "*"
factory-boy = "*"

[requires]
python_version = ">=3.9"

[dev-packages]
pre-commit = "*"
autoflake = "*"
isort = "*"
